@import 'highlight.js/styles/atom-one-dark.css';
/* You can add global styles to this file, and also import other style files */
/* Minimal, unobtrusive styling for readability */
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial;
  line-height: 1.45;
  background: #f7f8fb;
  color: #111;
}

.preforms-form-field-hint {
  font-size: 0.75rem;
  color: var(--muted);
}

.preforms-form-field-error {
  color: #b00020;
  font-size: 0.75rem;
}
